<%-include('y_headerGlobal');-%>
<h1 class="topSpacer"><p></p>.</h1>
<h4 class="topSpacer"><p></p>.</h4>

<h3>
  <b>Chassis Types</b>
</h3>
<p></p>

<% types.forEach((type) => { %>
<div>
  <span>
    <b>TYPE <%= type.id %></b>:
  </span>
  <span>
   <%= type.name %>
  </span>
</div>
<% }); %>  


<%-include('z_footerGlobal')-%>